/* global styles */

:root {
	/* Set this n minima.scss as well */
	/* Canvas variables */
	--ic-brand-primary-darkened-5: #156131;
	--ic-brand-primary-darkened-10: #145c2e;
	--ic-brand-primary-darkened-15: #13572c;
	--ic-brand-primary-lightened-5: #216d3d;
	--ic-brand-primary-lightened-10: #2d7547;
	--ic-brand-primary-lightened-15: #387c51;
	--ic-brand-button--primary-bgd-darkened-5: #156131;
	--ic-brand-button--primary-bgd-darkened-15: #13572c;
	--ic-brand-button--secondary-bgd-darkened-5: #f3b511;
	--ic-brand-button--secondary-bgd-darkened-15: #d9a20f;
	--ic-brand-font-color-dark-lightened-15: #4c5860;
	--ic-brand-font-color-dark-lightened-28: #677179;
	--ic-link-color-darkened-10: #000000;
	--ic-link-color-lightened-10: #191919;
	--ic-brand-primary: #166633;
	--ic-brand-font-color-dark: #2d3b45;
	--ic-link-color: #000000;
	--ic-brand-button--primary-bgd: var(--ic-brand-primary);
	--ic-brand-button--primary-text: #ffffff;
	--ic-brand-button--secondary-bgd: #ffbe11;
	--ic-brand-button--secondary-text: #ffffff;
	--ic-brand-global-nav-bgd: #005239;
	--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
	--ic-brand-global-nav-ic-icon-svg-fill--active: #005239;
	--ic-brand-global-nav-menu-item__text-color: #ffffff;
	--ic-brand-global-nav-menu-item__text-color--active: #005239;
	--ic-brand-global-nav-avatar-border: #ffffff;
	--ic-brand-global-nav-menu-item__badge-bgd: #ffbe11;
	--ic-brand-global-nav-menu-item__badge-bgd--active: #005239;
	--ic-brand-global-nav-menu-item__badge-text: #000000;
	--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
	--ic-brand-global-nav-logo-bgd: #005239;
	--ic-brand-header-image: url("https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_223010000000000001/attachments/57513/mason-logo3.png");
	--ic-brand-mobile-global-nav-logo: url("https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_223010000000000001/attachments/940/mason-logo.png");
	--ic-brand-watermark-opacity: 1;
	--ic-brand-favicon: url("https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico");
	--ic-brand-apple-touch-icon: url("https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_223010000000000001/attachments/938/cropped-MasonM_4C.png");
	--ic-brand-msapplication-tile-color: #ffffff;
	--ic-brand-msapplication-tile-square: url("https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_223010000000000001/attachments/939/cropped-MasonM_4C.png");
	--ic-brand-msapplication-tile-wide: url("https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_223010000000000001/attachments/941/mason-logo.png");
	--ic-brand-Login-body-bgd-color: #394b58;
	--ic-brand-Login-body-bgd-image: url("https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_223010000000000001/attachments/943/gmucampus.jpeg");
	--ic-brand-Login-body-bgd-shadow-color: #2d3b45;
	--ic-brand-Login-logo: url("https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_223010000000000001/attachments/942/mason-logo.png");
	--ic-brand-Login-Content-bgd-color: #176633;
	--ic-brand-Login-Content-border-color: none;
	--ic-brand-Login-Content-inner-bgd: none;
	--ic-brand-Login-Content-inner-border: none;
	--ic-brand-Login-Content-inner-body-bgd: none;
	--ic-brand-Login-Content-inner-body-border: none;
	--ic-brand-Login-Content-label-text-color: #ffffff;
	--ic-brand-Login-Content-password-text-color: #ffffff;
	--ic-brand-Login-footer-link-color: #ffffff;
	--ic-brand-Login-footer-link-color-hover: #ffffff;
	--ic-brand-Login-instructure-logo: #ffffff;
	/* my variables */
	--preset-box-shadow: 2px 2px 5px gray;
	--accent: var(--ic-brand-primary);
	--accent-bright: var(--ic-brand-primary-lightened-15);
	--accent-dark: var(--ic-brand-primary-darkened-15);
	--footer-gray: var(--ic-brand-button--secondary-bgd);
	--light-gray: rgba(103, 113, 121, 0.2);
	--accent-textbox: rgba(56, 124, 81, 0.2); /* based on ic-brand-primary */
	--main-bg: #fff;
	/* --off-white: #F9F7F1; */
	--text: var(--ic-brand-font-color-dark);
}

hr {
	border: 0;
	height: 0;
	border-bottom: 3px solid var(--accent);
	width: 50%;
	margin: 3em auto;
}

html {
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.site-header {
	border-top: none;
}

:target:before {
	content: "";
	display: block;
	height: 100px;
	margin: -100px 0 0;
}

/*
*
* links*/
a.site-title,
a.site-title:visited {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	color: var(--text);
}
header a {
	color: var(--text);
}
main a,
main a:visited {
	color: var(--accent-dark);
	text-decoration: underline;
	text-decoration-style: dotted;
}
main a:hover {
	color: var(--accent);
	text-decoration: none;
}
a:visited {
	color: inherit;
}

.footer-col-wrapper a,
.footer-col-wrapper {
	font-size: 15px;
	color: var(--ic-brand-font-color-dark-lightened-28);
}

/*
*
* headings */
h1 {
	font-weight: 700;
}

h2 {
	margin-top: 1.5em;
}

pre,
code {
	background-color: #f5f5f5;
}

.class-title {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
}
.class-title a,
.class-title a:hover,
.class-title a:visited {
	color: var(--text);
	text-decoration-color: var(--accent);
	text-decoration-thickness: 2px;
}
.class-title a:hover,
a.site-title:hover {
	text-decoration: none;
	color: var(--accent);
}

li > ol {
	list-style-type: lower-alpha;
}

/*
*
* nav menu */

.site-nav div {
	font-size: 0.9rem;
	font-weight: 300;
}
.site-nav a:hover {
	text-decoration-color: var(--accent);
	text-decoration-style: dotted;
}

.header-wrapper {
	max-width: 80%;
	margin: auto;
}

.header-wrapper .favicon {
	margin-right: 0.5rem;
}

@media screen and (max-width: 600px) {
	.header:nth-child(1) {
		max-width: 75% !important;
	}
	.site-title {
		line-height: normal;
		margin-left: 1rem;
	}
}

@media screen and (max-width: 500px) {
	.header-wrapper .favicon {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.site-nav {
		background-color: var(--ic-brand-global-nav-bgd);
		border-radius: 4px;
		border-color: var(--main-bg);
	}

	.site-nav .menu-icon > svg {
		fill: var(--ic-brand-global-nav-ic-icon-svg-fill);
	}
	.site-nav .page-link {
		color: var(--ic-brand-global-nav-menu-item__text-color);
	}
	.site-nav a:hover {
		text-decoration-color: var(--ic-brand-global-nav-menu-item__text-color);
		text-decoration-style: dotted;
	}
}

/* 
* 
* Footer styling */

.footer-col-wrapper {
	margin-left: 0;
}
.footer-col-wrapper .flex-row {
	margin-bottom: 1em;
}
/* @media screen and (min-width: 768px) {
	.footer-col-wrapper div.col:nth-child(1) {
		text-align: left;
		width: 40%;
	}
	.footer-col-wrapper div.col:nth-child(2) {
		text-align: center;
		width: 20%;
	}
	.footer-col-wrapper div.col:nth-child(3) {
		text-align: right;
		width: 40%;
	}
} */

@media scren and (max-width: 767px) {
	.footer-col-wrapper div.col {
		text-align: center !important;
	}
}

/* tables */
table,
table th,
table td {
	border-style: solid hidden;
}

table th {
	background-color: transparent;
	border-top: hidden;
	border-bottom: 2px solid var(--accent);
}

/*
*
* card */

.card {
	/* mine
	box-shadow: var(--preset-box-shadow);
	background: var(--off-white);
	border-radius: 5px; */
	padding: 1em;
	margin-bottom: 3em;
	border-left: 6px solid var(--ic-brand-button--secondary-bgd);

	/* Canvas */
	background: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	/* overflow: hidden;
	box-sizing: border-box;
	width: 262px;
	display: inline-block;
	vertical-align: top;
	margin: 36px 0 0 36px; */
}

.card p {
	margin-left: 1rem;
}

.card h1 {
	font-size: 1.5rem;
	border-bottom: 2px solid lightgray;
}

.card h2 {
	font-size: 1.25rem;
}

/*
*
* button styles */

a.button {
	display: inline-block;
	display: block;
	font-size: 1.25rem;
	margin: 1em 1em;
	padding: 1em;
	text-align: center;
}

a.button-outline {
	border: 2px solid var(--accent-dark);
	border-radius: 5px;
	color: var(--accent-dark);
}

a.button-outline:hover {
	border-color: var(--accent);
	color: var(--accent);
	text-decoration: none;
}

a.button-fill {
	background-color: var(--accent-dark);
	color: white !important;
	border-radius: 5px;
}

a.button-fill:hover {
	background-color: var(--accent);
	text-decoration: none;
}

/*
*
* previous/next buttons */

.post-nav {
	display: block;
	width: auto;
	overflow: hidden;
}

@media screen and (min-width: 768px) {
	.post-nav a {
		width: 30%;
	}
}

.post-nav.responsive {
	flex-direction: column-reverse;
}

/* flex row */

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.justify-space {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
	align-items: center;
}

.justify-center {
	justify-content: center;
	gap: 2em;
}

.align-center {
	align-content: center;
	align-items: center;
}

.col {
	width: auto;
}

.col-40 {
	width: 40%;
}

.no-wrap {
	flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
	.flex-row.responsive {
		flex-direction: column;
		align-content: center;
		align-items: center;
		gap: unset;
	}
	.col-40 {
		width: 80%;
		max-width: 350px;
	}

	.card {
		margin-bottom: 2em;
	}
}

/*
*
* TOC */

#table-of-contents + ul li a {
	color: var(--text);
	text-decoration: none;
}
#table-of-contents + ul li a:hover {
	text-decoration: underline;
	text-decoration-color: var(--accent);
	text-decoration-style: dotted;
}

/*
*
* Key Takeaways */

.textbox--key-takeaways {
	background-color: var(--accent-textbox);
	margin: 2em 0;
	border-left: 4px solid var(--accent-dark);
}

.textbox--key-takeaways .textbox__header {
	background-color: var(--accent);
	padding: 1em;
}

.textbox--key-takeaways .textbox__title {
	margin-bottom: 0;
	color: var(--ic-brand-button--primary-text);
	text-transform: uppercase;
	font-weight: 700;
}

.textbox--key-takeaways .textbox__content {
	padding: 1em 2em;
	color: #000;
}

/*
*
* Media styling */

iframe,
img {
	display: block;
	margin: auto;
}

/*
*
* Caption styling */

figcaption {
	text-align: center;
	font-style: italic;
	margin-bottom: 1em;
}

figcaption i {
	font-style: normal;
}

/*
*
* ordered list styling */

ol {
	display: block;
	background-color: var(--light-gray);
	padding: 2em 2em 2em 4em;
}

ol li {
	margin-bottom: 1rem;
}

ol ol {
	background-color: transparent;
	padding: 0;
	list-style-type: lower-alpha;
	margin-top: 1rem;
}

ol ol li {
	margin-bottom: 0;
}

/* smooth scroll anchor links */
html {
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

figure.audio-example {
	padding: 1rem;
	border: 1px solid lightgray;
	background-color: lightgray;
	border-radius: 5px;
	max-width: 20em;
	text-align: center;
	margin-bottom: 2em;
	& figcaption {
		font-style: inherit;
		font-weight: bold;
		font-size: inherit;
	}
}
