---
layout: page
title: Compositions
permalink: /compositions/
order: 3
---

## Set Class

* [Instructions]({{ set_url }})
* Due: {{ set_date }}

## Debussy-style

* [Instructions]({{ debussy_url }})
* Due: {{ debussy_date }}

## Final project (Music and Media)

* [Instructions]({{ final_url }})
* Due: {{ final_date }}

## Submitting and revising

All compositions should be submitted on Blackboard as **PDFs**. You may also submit sound files.

Feedback is given on Blackboard via the rubric. [Watch a video on how to access this rubric feedback.](https://gmuedu-my.sharepoint.com/:v:/g/personal/mlavengo_gmu_edu/EQThiI-cg1FPlNtTbaWl7NYBghj4hZeMUYlFZCWci1c7XA)

All compositions may be revised to address the issues identified in the feedback. See [Syllabus](/syllabus/#composition-projects) for more information.